/ HTML tag used to load the comments from Disqus
#all-comments

javascript:
  var disqus_shortname = 'patrickemuller';
  // DON'T EDIT BELOW THIS LINE
  (function () {
  var loaded = false;
  function loadDisqus() {
    if (loaded) return;
    loaded = true;
    var div = document.getElementById('all-comments');
    div.innerHTML = ''; div.id = 'disqus_thread';

    var dsq = document.createElement('script'); dsq.type = 'text/javascript'; dsq.async = true;
    dsq.src = 'https://' + disqus_shortname + '.disqus.com/embed.js';

    (document.getElementsByTagName('head')[0] || document.getElementsByTagName('body')[0]).appendChild(dsq);
  }

  if ( document.getElementById('all-comments') || document.readyState === "complete" ) {
    return setTimeout( loadDisqus, 1 );
  }

  if ( document.addEventListener ) {
    document.addEventListener( "DOMContentLoaded", loadDisqus, false );
    window.addEventListener( "load", loadDisqus, false );
  } else if ( document.attachEvent ) {
    document.attachEvent( "onreadystatechange", loadDisqus );
    window.attachEvent( "onload", loadDisqus);
  }
  }());
